@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Planner: A planner for your Tasks</h1>
    <p>Create a Task, mark it open, in progress, or done. Create notes and schedule events.</p>
</div>
